/* http://meyerweb.com/eric/tools/css/reset/  v2.0 | 20110126 License: none (public domain) */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}/* HTML5 display-role reset for older browsers */article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}

/* typography */
html, body, input, button, select, textarea {
  font: 16px/24px "Helvetica Neue", Helvetica, arial, sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  height: 100%;
}

/* Use border-box box model */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

a {
  text-decoration: none;
  -webkit-transition: color 200ms linear;
  -moz-transition: color 200ms linear;
  -ms-transition: color 200ms linear;
  -o-transition: color 200ms linear;
  transition: color 200ms linear;
}

p {
padding-bottom: 10px;
}

hr {
  border-top: 1px solid #ededed;
  border-right: none;
  border-bottom: none;
  border-left: none;
}

small {
  font-size: 12px;
}

/* a snippet for smoother web-font loading, often used with typekit.com fonts */
.wf-loading {
  visibility: hidden;
}

/* utility classes */

.fixed {
  position: fixed;
}

/* forms */
.button, 
button, 
input[type="submit"], 
input[type="reset"], 
input[type="button"] {
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-shadow: 0 1px 0px rgba(255, 255, 255, 0.75);
  background: #fafafa; /* Old browsers */
  background: -moz-linear-gradient(top,  #fafafa 0%, #f2f2f2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fafafa 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fafafa 0%,#f2f2f2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fafafa 0%,#f2f2f2 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #fafafa 0%,#f2f2f2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
  border: 1px solid #d8d8d8;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 7px 12px;
  margin-bottom: 10px;
}

.button:hover,
button:hover, 
input[type="submit"]:hover, 
input[type="reset"]:hover, 
input[type="button"]:hover {
  color: #000;
  border: 1px solid #ccc;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #efefef 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#efefef 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
  -webkit-box-shadow:  1px 1px 0px 0px rgba(155, 155, 155, 0.1);
  box-shadow:  1px 1px 0px 0px rgba(155, 155, 155, 0.1);
}

.button:active,
button:active, 
input[type="submit"]:active, 
input[type="reset"]:active, 
input[type="button"]:active {
  background: #f2f2f2; /* Old browsers */
  background: -moz-linear-gradient(top,  #f2f2f2 0%, #f8f8f8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#f8f8f8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f2f2f2 0%,#f8f8f8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f2f2f2 0%,#f8f8f8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f2f2f2 0%,#f8f8f8 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f2f2f2 0%,#f8f8f8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#f8f8f8',GradientType=0 ); /* IE6-9 */
}

input[type="text"], 
input[type="password"], 
input[type="email"], 
textarea, 
select {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #d8d8d8;
  padding: 7px 12px;
  max-width: 100%;
  margin-bottom: 10px;
  background-color: #fcfcfc;
  outline: none;
}

input[type="text"]:focus, 
input[type="password"]:focus, 
input[type="email"]:focus, 
textarea:focus, 
select:focus {
  border: 1px solid #c8c8c8;
  background-color: #ffffff;
  -moz-box-shadow: 0 0 1px rgba(0,0,0,.2);
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,.2);
  box-shadow:  0 0 1px rgba(0,0,0,.2);
}

/* layout and grid */

.row {
}


.left { 
  margin-left: 0;
  float: left;
}

.right { 
  margin-right: 0;
  float: right;
}

.container { 
  width: 300px;
  margin: 0 auto 0 auto; 
  padding: 0;
}

[class*="columns-"] { 
  margin: 20px auto 0 auto;
}

.column-1,
.columns-1,
.columns-2,
.columns-3,
.columns-4,
.columns-5,
.columns-6,
.columns-7,
.columns-8,
.columns-9,
.columns-10,
.columns-11,
.columns-12,
.columns-13,
.columns-14,
.columns-15,
.columns-16,
.columns-one-third,
.columns-two-thirds {
  width: 300px;
}

.offset-1,
.offset-2,
.offset-3,
.offset-4,
.offset-5,
.offset-6,
.offset-7,
.offset-8,
.offset-9,
.offset-10,
.offset-11,
.offset-12,
.offset-13,
.offset-14,
.offset-15,
.offset-one-third,
.offset-two-thirds {
  margin-left: 0;
}

@media only screen and (min-width: 480px) {

  .row { 
  }
  
  .container { 
    width: 460px;
  }
  
  [class*="columns-"] { 
    margin: 20px auto 0px auto;
  }

  .column-1,
  .columns-1,
  .columns-2,
  .columns-3,
  .columns-4,
  .columns-5,
  .columns-6,
  .columns-7,
  .columns-8,
  .columns-9,
  .columns-10,
  .columns-11,
  .columns-12,
  .columns-13,
  .columns-14,
  .columns-15,
  .columns-16,
  .columns-one-third,
  .columns-two-thirds {
    width: 460px; 
  }
}

@media only screen and (min-width: 600px) {

  .container { 
    width: 580px;
  }
  
  [class*="columns-"] { 
    margin: 20px auto 0px auto;
  }

  .column-1,
  .columns-1,
  .columns-2,
  .columns-3,
  .columns-4,
  .columns-5,
  .columns-6,
  .columns-7,
  .columns-8,
  .columns-9,
  .columns-10,
  .columns-11,
  .columns-12,
  .columns-13,
  .columns-14,
  .columns-15,
  .columns-16,
  .columns-one-third,
  .columns-two-thirds { 
    width: 580px; 
  }
}

@media only screen and (min-width: 768px) {
  
  .row {
    margin-left: -20px;
  }

  .container { 
    width: 748px;
  }
  
  [class*="columns-"] { 
    float: left; 
    display: inline; 
    margin: 20px 0px 0px 20px; 
  }
  
  .container [class*="columns-"] .row {    
  }

  .columns-1           { width: 28px;  }
  .columns-2           { width: 76px;  }
  .columns-3           { width: 124px; }
  .columns-4           { width: 172px; }
  .columns-5           { width: 220px; }
  .columns-6           { width: 268px; }
  .columns-7           { width: 316px; }
  .columns-8           { width: 364px; }
  .columns-9           { width: 412px; }
  .columns-10          { width: 460px; }
  .columns-11          { width: 508px; }
  .columns-12          { width: 556px; }
  .columns-13          { width: 604px; }
  .columns-14          { width: 652px; }
  .columns-15          { width: 700px; }
  .columns-16          { width: 748px; }

  .columns-one-third   { width: 256px; }
  .columns-two-thirds  { width: 512px; }
  
  /* for offseting elements */
  .offset-1            { margin-left: 68px  }
  .offset-2            { margin-left: 116px }
  .offset-3            { margin-left: 164px }
  .offset-4            { margin-left: 212px }
  .offset-5            { margin-left: 260px }
  .offset-6            { margin-left: 308px }
  .offset-7            { margin-left: 356px }
  .offset-8            { margin-left: 434px }
  .offset-9            { margin-left: 500px }
  .offset-10           { margin-left: 480px }
  .offset-11           { margin-left: 596px }
  .offset-12           { margin-left: 548px }
  .offset-13           { margin-left: 644px }
  .offset-14           { margin-left: 692px }
  .offset-15           { margin-left: 740px }
  
  .offset-one-third    { margin-left: 256px }
  .offset-two-thirds   { margin-left: 512px }
}

@media only screen and (min-width: 960px) {

  .container {
    width: 940px;
  }
  
  [class*="columns-"] {
    float: left; 
    display: inline; 
  }
  
  .columns-1                   { width: 40px; }
  .columns-2                   { width: 100px; }
  .columns-3                   { width: 160px; }
  .columns-4                   { width: 220px; }
  .columns-5                   { width: 280px; }
  .columns-6                   { width: 340px; }
  .columns-7                   { width: 400px; }
  .columns-8                   { width: 460px; }
  .columns-9                   { width: 520px; }
  .columns-10                  { width: 580px; }
  .columns-11                  { width: 640px; }
  .columns-12                  { width: 700px; }
  .columns-13                  { width: 760px; }
  .columns-14                  { width: 820px; }
  .columns-15                  { width: 880px; }
  .columns-16                  { width: 940px; }

  .columns-one-third           { width: 280px; }
  .columns-two-thirds          { width: 600px; }
  
  /* for offseting elements */
  .offset-1            { margin-left: 80px  }
  .offset-2            { margin-left: 140px }
  .offset-3            { margin-left: 200px }
  .offset-4            { margin-left: 260px }
  .offset-5            { margin-left: 320px }
  .offset-6            { margin-left: 380px }
  .offset-7            { margin-left: 440px }
  .offset-8            { margin-left: 500px }
  .offset-9            { margin-left: 560px }
  .offset-10           { margin-left: 620px }
  .offset-11           { margin-left: 680px }
  .offset-12           { margin-left: 780px }
  .offset-13           { margin-left: 800px }
  .offset-14           { margin-left: 860px }
  .offset-15           { margin-left: 920px }
  
  .offset-one-third    { margin-left: 340px }
  .offset-two-thirds   { margin-left: 660px }

}

@media only screen and (min-width: 1280px) {

  .container {
    width: 1100px;
  }

  .columns-1                    { width: 50px; }
  .columns-2                    { width: 120px; }
  .columns-3                    { width: 190px; }
  .columns-4                    { width: 260px; }
  .columns-5                    { width: 330px; }
  .columns-6                    { width: 400px; }
  .columns-7                    { width: 470px; }
  .columns-8                    { width: 540px; }
  .columns-9                    { width: 610px; }
  .columns-10                   { width: 680px; }
  .columns-11                   { width: 750px; }
  .columns-12                   { width: 820px; }
  .columns-13                   { width: 890px; }
  .columns-14                   { width: 960px; }
  .columns-15                   { width: 1030px; }
  .columns-16                   { width: 1120px; }
  
  /* for offseting elements */
  .offset-1            { margin-left: 100px  }
  .offset-2            { margin-left: 180px }
  .offset-3            { margin-left: 260px }
  .offset-4            { margin-left: 340px }
  .offset-5            { margin-left: 420px }
  .offset-6            { margin-left: 500px }
  .offset-7            { margin-left: 580px }
  .offset-8            { margin-left: 660px }
  .offset-9            { margin-left: 740px }
  .offset-10           { margin-left: 820px }
  .offset-11           { margin-left: 900px }
  .offset-12           { margin-left: 980px }
  .offset-13           { margin-left: 1060px }
  .offset-14           { margin-left: 1140px }
  .offset-15           { margin-left: 1220px }
  
  .offset-one-third    { margin-left: 480px }
  .offset-two-thirds   { margin-left: 800px }
}

/* #Clearing from skeleton
================================================== */

/* Self Clearing Goodness */
.container:after,
.clearfix:after,
.row:after, {
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
  font-size: 0;
}

/* float clearing for IE6 */
* html .clearfix {
  height: 1%;
  overflow: visible;
}

/* float clearing for IE7 */
*:first-child + html .clearfix {
  min-height: 1%;
}

/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: "";
  display: table;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; 
  clear: both;
}

.row,
.clearfix {
  *zoom: 1;
}