/*

typography 

*/

html, body, input, button, select, textarea {
  font: 15px/25px "Helvetica Neue", Helvetica, arial, sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  height: 100%;
}

a {
  color: #3C80C3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active, a:focus {
  color: #1E4062;
}

p {
  padding-bottom: 15px;
}

h1, 
h2,
h3,
h4,
h5,
h6 {
  color: #464646;
  padding: 6px 0 5px 0;
  letter-spacing: -1px;
  font-weight: 300;
}

h1 {
 padding: 0px 0 5px 0;
  font-size: 45px;
  line-height: 55px;
  letter-spacing: -3px;
  font-weight: 900;
}

h2 {
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
}

h3 {
  font-size: 25px;
  line-height: 35px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h4 {
  font-size: 25px;
  line-height: 35px;
}

h5 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
}

h6 {
  color: #b8b8b8;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

b, strong {
  font-weight: 500;
}

i, em {
  font-style: italic;
}

pre, code {
  font-size: 12px;
  font-family: Monaco, Menlo, monospace;
  padding: 5px 10px;
  background-color: #f8f8f8;
  border: 1px solid #e2e2e2;
  overflow: scroll;
}

hr {
  border-top: 1px solid #e2e2e2;
  border-right: none;
  border-bottom: none;
  border-left: none;
  margin: 10px 0 30px 0;
}
